h1 {
  text-align: center;
  color: white;
}

body {
  background-color: black;
}

.canvas {
  margin: auto;
  width: 50%;
}

.button {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin: 0 auto;
  padding: 10px 0;
}